---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Kompetenzen from '../components/Kompetenzen.astro';
import Ausbildungen from '../components/Ausbildungen.astro';
import Kontakt from '../components/Kontakt.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <About />
    <Kompetenzen />
    <Ausbildungen />
    <Kontakt />
  </main>
  <Footer />
</Layout>
